<span class="error_message"><%= flash[:warning] %></span>
<%= form_for @job do |f| %>
<%= f.label :title, 'Título' %>
<%= f.text_field :title %>
<%= f.label :location, 'Localização' %>
<%= f.text_field :location %>
<%= f.label :company_id, 'Empresa' %>
<%= f.collection_select :company_id, @companies, :id,:name %>
<%= f.label :category_id, 'Categoria' %>
<%= f.collection_select :category_id, @categories , :id,:name %>
<%= f.label :description, 'Descrição' %>
<%= f.text_area :description %>
<%= f.check_box :featured %>
<%= f.label :featured, 'Destaque' %>

<%= f.submit button_label %>
<% end %>
