<h1>Emprego Já</h1>

<% @jobs.each do |job| %>
  Título: <%= job.title %>
  Localização: <%= job.location %>
  Categoria: <%= job.category %>
  Empresa: <%= job.company %>
  Descrição: <%= job.description %>
<% end %>
