]<h1>Emprego Já</h1>

<% @jobs.each do |job| %>
  Título: <%= job.title %>
  Localização: <%= job.location %>
  Empresa: <%= job.company.name %>
<% end %>

<% @companies.each do |company| %>
  <%= link_to company.name, company %>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category.name, category %>
<% end %>
