<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @company do |f| %>
<%= f.label :name, 'Nome' %>
<%= f.label :location, 'Localização' %>
<%= f.text_field :name %>
<%= f.text_field :location %>
<%= f.label :email, 'Email' %>
<%= f.text_field :email %>
<%= f.label :phone, 'Telefone' %>
<%= f.text_area :phone %>
<%= f.attachment_field :company_image %>

<%= f.submit button_label,id:'submit' %>
<% end %>
